body {
    background:white;
    color: red;
}
button {
    width: 150px;
    height: 40px;
    border: 5px solid red;
    border-radius: 15px;
    background: white;
    color: red;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
}

#stopwatch {
    font-size: 100px;
    position: absolute;
    top: 25%;
    left: 37.5%;
}

.main-button{
    position: absolute;
    top: 40%;
    left: 45%;
}

.additional-buttons {
    display: block;
    position: absolute;
    top: 45%;
    left: 39%;
    padding-top: 10px;
    padding-left: 10px;
}

#saved-time {
    position: absolute;
    top: 50%;
    left: 36%;
}

#saved-time {
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}

#saved-time li {
    margin-left: 20px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 22px;

}